// Place all the styles related to the Connections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#checkboxdiv {
    height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

* {
    padding: 0px;
    margin: 0px;
}

#left-col {
    width: 75%;
    float: left;
}

#right-col {
    width: 25%;
    float: left;
}

.checkboxes {
    padding: 30px;
}

.listofblah {
    text-align: center;
    font-weight: bold;
}

